{% extends "account/base.html" %}
{% load i18n %}
{% block content %}

	<div class="col-xs-12 col-md-12 text-center">
		<h1>{% trans "Logout Section"%}</h1>

		<p>{% trans 'Are you sure you want to logout'%}?</p>

		<form method="post" action="{% url 'account_logout' %}">
		  {% csrf_token %}

		  {% if redirect_field_value %}

		 	 <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>

		  {% endif %}

		  <button type="submit">{% trans 'Logout' %}</button> | <a href="{% url 'choose_date_add_tasks_show_tasks_view_url' %}">{% trans 'Back to tasks' %}</a>
		
		</form>


	</div>
{% endblock %}
