<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>To Do List</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >

		<!-- стилі віджета календаря -->
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.0.0/css/bootstrap-datetimepicker.min.css">

    <link rel="stylesheet" href="../static/css/style.css">

</head>
<body style='display: flex;
    min-height: 100vh;
    flex-direction: column;'>

	<header style=' top: 0;
  					left: 0;
  					right: 0;
  					padding-bottom: 10px;
  					box-shadow: 0px 1px 10px 3px #264d00;
  margin-bottom: 10px;'>
		<div class="row">

			<div class="col-xs-12 col-md-1 col-md-offset-5 text-center">
				<a href="https://github.com/Pyrigok/task_list">Github</a>
			</div>

			{% if request.user.is_authenticated %}

				<div class="col-xs-12 col-md-2 col-md-offset-4">
					<a href="#">{{ user.username }}</a>
					<a href="{% url 'account_logout' %}">Logout</a>
				</div>

			{% else %}

				<div class="col-xs-12 col-md-2 col-md-offset-2">
					<a href="{% url 'account_signup' %}">Registration</a> |
					<a href="{% url 'account_login' %}">Login</a>
				</div>

			{% endif %}

		</div>
		
	</header>
	<div style='flex: 1 0 auto'>
	<div class='row'>
	    <div class='col-xs-3 col-xs-offset-1'>
	        <a class='main_logo' href='{% url 'choose_date_add_tasks_show_tasks_view_url' %}'>
	            <h1>Task Manager</h1>
	        </a>
	    </div>
	</div>

	{% block content %}
	
	{% endblock content %}

	</div>
	<footer style= "<!-- position: fixed;
					width: 100%;
				  z-index: 0;
				  bottom:0;
				  left: 0; -->
				  padding: 0;
				  box-shadow: 0px -1px 10px 3px #264d00;
				  background-color: #ecf9f2;
				  padding-top: 10px;
				  margin-top: 10px;
				  color: black; 
				  margin-top: 10px" >

		<div class="row">
			

			<div class="col-xs-12 col-md-3">
			
				<p>&copy; 2018 <span>Here you can plan your working week!</span></p>
			</div>

			<div class="col-xs-12 col-md-2 col-md-offset-7"><p>
				 Produced by <span style="font-family: 'Pacifico'; font-style: italic">Vasyl Pyrih</span></p>
			</div>
		</div>

	</footer>

	<!-- js -->
	<script
	  src="https://code.jquery.com/jquery-2.2.4.js"
	  integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
	  crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>

	<script src='../static/scripts/jquery.cookie.js'></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>

	<script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.0.0/js/bootstrap-datetimepicker.min.js"></script>

	<script src='../static/scripts/datetimepicker.js'></script>
	<script src='../static/scripts/scripts.js'></script>
	<script src='../static/scripts/cookie.js'></script>
	
</body>
</html>