{% extends 'base.html' %}

{% block content %}
	

	<div class="row">
		<div class="col-xs-12 text-center">

			<h1>Send Mail Page</h1>
			<hr>
		</div>

		<div class="col-xs-6 col-xs-offset-3 text-center">

					{% if status_message %}
						<div class="alert alert-warning">
							<p class="text-center">{{status_message }}</p>
						</div>

						<a href="{% url 'choose_date_add_tasks_show_tasks_view_url' %}">
							<button class="btn btn-default" name='cancel_sending_button'>Back</button>
						</a>

					<hr>

					{% else %}
					<form  method="post">

				{% csrf_token %}

				{% for entry in users_list %}
					<h3>Are you sure you want pass task <span id='task_title_span'>{{ subject }}</span> to user <span id='recipient_name_span'>{{ entry }}</span>???</h3>
					
<!-- 				{{ form.as_p }} -->
				{% endfor %}
				

				<button class="btn btn-success" type='submit' value="Send" name="send_button" />Yes</button>
				

			</form> 
			<br>
			<a href="{% url 'choose_date_add_tasks_show_tasks_view_url' %}">
					<button class="btn btn-default" name='cancel_sending_button'>No</button>
				</a>
				
				<hr>
					{% endif %}
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-12 text-center">


			

	
		</div>
	</div>

{% endblock content %}