{% extends 'base.html' %}
{% load i18n %}

{% block content %}

	<div class="container-fluid">

				<div class="row" id="date_row">
					
					<div class="col-xs-12 col-md-6 col-md-offset-2 task_date_div">

						{% if filtered_task_by_request_user %}
							<p>{% trans 'You have task on next dates:' %} <br>
								{% for entry in filtered_task_by_request_user %}
									| <span class='date_span' id="date_span">{{ entry.date_of_task_execution }}<input type="hidden" value="{{entry.id}}"></span>
										 |
								{% endfor %}
							</p>
						{% else %}
							<p>{% trans 'You do not have any tasks yet!' %}</p>
						{% endif %}

					</div>

				</div>


				<div class="row">

					<div class="col-md-offset-1 col-md-4 col-xs-12">

						{% if today_task_list %}

							<h2>{% trans 'Task List' %}</h2>
							<hr>
													
								<table class="table table-hover ">

									<tr>
										<th class="text-center">{% trans 'Title' %}</th>
										
										<!-- <th>Priority</th> -->
										<th class="text-center">{% trans 'Status' %}</th>
										<th class="text-center">{% trans 'Who execute' %}</th>
										<th class="text-center">{% trans 'Task sent' %}</th>
									</tr>

									{% for entry in today_task_list %}
									
									
										<tr>
											<input type="hidden" value="{{ entry.id }}">


												<td class="text-center">{{ entry.title }}</td>
											
												<!-- <td class="text-center">{{ entry.priority }}</td> -->
												<td class="text-center">
													{{ entry.status }}
													<!-- <select name="status" id="status">
														<option value="in the process">In the process</option>
														<option value="done">Done</option>
													</select> -->
												</td>		
												<td class="text-center">{{ entry.who_execute }}</td>							
												<td class="text-center"><span id="from_user_span">{{ entry.from_user }}</span></td>							
											
										</tr>
									
									{% endfor %}

								</table>

							{% else %}
									<h2>{% trans 'No tasks' %}!</h2>
									<hr>
							{% endif %}

					</div>

					<div class="col-xs-12 col-md-2">
						{% if request.GET.status_message %}
							<div class="alert alert-warning">
								<p class="text-center">{{request.GET.status_message }}</p>
							</div>
					
					{% endif %}
					</div>


					<div id='task_detail_div' class='col-xs-12 col-md-4'>

							<h2>{% trans "Task Detail" %}</h2>
								<hr>

								{% for entry in current_details %}
									<h4>
										{{ entry.title }}
									</h4>
									<hr>
									<article>{{ entry.content }}</article>
									<hr>
									<p>{{ entry.status }}</p>
									<p>{% trans 'created on' %} - {{ entry.task_created_on }} |
									 {% trans 'when to execute'%} - {{ entry.date_of_task_execution }}</p>
									<!-- <p>deadline - {{ entry.deadline }}</p> -->

									<hr>

									<a href="{% url 'edit_task_url' pk=entry.id %}">
										<button class="btn btn-default">{% trans "Edit Task" %}</button>
									</a>

									<a href="{% url 'delete_task_url' pk=entry.id %}">
										<button class="btn btn-default">{% trans "Delete Task" %}</button>
									</a>

									
									<hr>
									<div id="user_selector">
									<p>{% trans 'Select the user to pass this task' %}</p>
										<select name="" id="selector">
											<option value="">{% trans 'Users' %}</option>
											{% for user in users_list %}
												<option value="{{ user.id }}">{{ user }}</option>
											{% endfor %}
										</select> <br>
										<a href="{% url 'send_mail_url' pk=entry.id %}">
											<button id='share_task_button' class="btn btn-default">{% trans "Send Task" %}</button>
										</a>
									</div>


									
									<hr>
					

								{% endfor %}

					</div>


				</div>


				<div class="row">
					<div class="col-md-4 col-md-offset-7 col-xs-12">
					
						<div id='add_task_div' class="add_task_form">

							<h2>{% trans 'New Task' %}</h2>
								<hr>

							<form action="{% url 'choose_date_add_tasks_show_tasks_view_url' %}"
									enctype="multipart/form-data"
									method="post"
									role='form'
									name="add_task_form">
									{% csrf_token %}

								<div class="row">
									<div class="{% if errors.title %}has-error{% endif %}">
										<span class="help-block">
											<input type="text" placeholder="Title..."
											name='title'
											value="{{ request.POST.title }}">
											{{ errors.title }}
										</span>
									</div>

									<div class="{% if errors.date_of_task_execution %}has-error{% endif %}" style="position: relative">
										<span class="help-block">
											<input type="text"
												class="dateinput" 
												placeholder="Date_of_task_execution..."
												name='date_of_task_execution'
												value='{{ request.POST.date_of_task_execution}}'>
											{{ errors.date_of_task_execution}}
										</span>
									</div>
								</div>

								<div class="row">
									<div class="{% if errors.content %}has-error{% endif %}">
										<span class="help-block">
											<input type="text"
												placeholder="Task description... Up to 50 letters"
												name='content'
												size='41'
												value="{{ request.POST.content }}" 
											>
											{{ errors.content }}
										</span>
									</div>
								</div>

						
								<div class="row">
									<button id="send_new_task_button" class="btn btn-default" type="submit" name="send_button">{% trans 'Add task' %}</button>
									<button id="hide_add_task_button" class="btn btn-default" type="submit" name="cancel_button">{% trans 'Close' %}</button>
								</div>

								
							</form>

						</div>

						
					</div>

				</div>

			</div> <!-- end container-fluid -->

{% endblock content %}